<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Contact</h2>
            <a href="/contact/add" class="btn btn-primary badge">Tambah Data Contact</a>
            
            <% if (msg.length !== 0) { %>
              <div class="alert alert-success mt-3" role="alert">
                <%= msg %>
              </div>
            <% } %>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No Hp</th>
                    <th scope="col">Detail</th>
                  </tr>
                </thead>
                <% if (data.length === 0) { %>
                  <div class="alert alert-danger fw-bold" role="alert">
                    Data Contact Masih Kosong . 
                  </div>
                <% } %>
                <tbody>
                <% data.forEach((contact , i) => { i++ %>
                  <tr>
                    <th scope="row"><%= i %> </th>
                    <td><%= contact.nama %> </td>
                    <td><%= contact.nohp %> </td>
                    <td><a href="/contact/<%= contact._id %>" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> Detail</a> </td>
                  </tr>
                <% }) %>
                  </tbody>
              </table>
        </div>
    </div>
</div>