<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%- include("../layout/styles.ejs") %> 
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../layout/nav.ejs") %> 
    <%- body %> 

    <%- include("../layout/footer.ejs") %> 
    <%- include("../layout/script.ejs") %> 
  </body>
</html>